html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	background-color: #cecece;

	background-image: url("https://watermark.lovepik.com/photo/50086/6199.jpg_wh1200.jpg");
	background-size: cover;

}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}
